@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lobster&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lobster&family=Manrope&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hero Section Style Start */
.hero {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    background: linear-gradient(90deg, #1A1A1A -0.7%, rgba(26, 26, 26, 0) 100%), url(eid-zakat/Rectangle\ 1.png) no-repeat;
    background-size: cover;

}


.hero-text {
    width: 80%;
    padding: 145px 145px;
    color: #ffff;

}

.hero-text h1 {
    width: 526px;
    height: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 75px;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.hero-text p {
    width: 480px;
    height: 84px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 45px;
}


.hero-text a {
    width: 160px;
    height: 56px;
    padding: 16px 12px;
    text-align: center;
    gap: 8px;
    background: #EF233C;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

/* Hero Section Style End */

/* Lives Depend Section Style Start */
.lives-depend {
    width: 100%;
    height: 600px;
    margin-top: 95px;
}

.lives-depend-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
}

.depend-text h1 {
    width: 492px;
    height: 108px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
    margin-bottom: 45px;
}

.depend-text p {
    width: 482px;
    height: 84px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    margin-bottom: 35px;
}

.depend-text a {
    padding: 16px 20px;
    width: 168px;
    height: 56px;
    left: 204px;
    top: 1199px;
    background: #EF233C;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.depend-img {
    width: 456px;
    height: 477px;
    background-image: url(./eid-zakat/Mask\ group.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Lives Depend Section Style End */

.depend-img1 {
    width: 456px;
    height: 477px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}



/* Direct Help Section Style Start */
.direct-help {
    width: 100%;
    height: 850px;

}

.help-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.help-text h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #121212;
    width: 500px;
    margin-bottom: 10px;
}

.help-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #707070;
    width: 630px;
    margin-bottom: 45px;
}

.direct-help-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.box-1 {
    width: 461px;
    height: 225px;
    background: #FEF4F5;
    border-radius: 10px;
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.box-1 img {
    width: 56px;
    height: 56px;
    padding-top: 23px;
}

.box-1 h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #121212;
    width: auto;
    height: 24px;

}

.box-1 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    width: 293px;
    height: 112px;
    text-align: justify;

}

/* Direct Help Section Style End */


/* Picture Section Style End */
.picture {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.picture-img {
    width: 364px;
    height: 391px;
    border-radius: 10px;
    margin-right: 15px;
}

/* Picture Section Style End */

/* Hand of Charity Section Style Start */
.hand-of-charity {
    width: 100%;
    height: auto;
}

.charity-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.charity-text h1 {
    width: 877px;
    height: 108px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #121212;
    margin-bottom: 35px;
}


.charity-text p {
    width: 664px;
    height: 56px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #707070;
}

.charity-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.charity-box1 {
    width: 364px;
    height: 481px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
    margin-right: 20px;
}

.charity-box1 h2 {
    width: 110px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #121212;
    margin: 20px 0px;
}

.charity-box1 p {
    width: 308px;
    height: 112px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
}

.charity-box1 a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #EF233C;
    margin: 15px 0;
}

/* Hand of Charity Section Style End */

/* Footer Section Style Start */
footer {
    width: auto;
    height: 177px;
    background: #0B0D17;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h1 {
    width: 182px;
    height: 44px;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #EF233C;
    margin-bottom: 15px;
}

footer p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #D9DBE1;
}

/* Footer Section Style End */